.footer_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(70, 68, 68);
  margin-top: 5rem;
  font-size: 14px;
}

.all_col_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px 130px 0 130px;
}

.hr {
  width: 80%;
  margin: 30px 65px 0 130px;
}

.col_heading {
  font-weight: bold;
}

.col_list {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.col_item {
  margin-bottom: 10px;
  cursor: pointer;
}

.col_head_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerbtn {
  width: 3.5rem;
  height: 1.5rem;
  margin-left: 6px;
  background-color: rgb(235, 103, 55);
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.socialmedia_container {
  margin-top: 20px;
}

.lower_footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px 130px 0 130px;
}

.left_lower {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get_app {
  margin-right: 15px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play_store_btn {
  margin-right: 6px;
}

.socialmedia_container {
  margin-bottom: 20px;
}

.socialbtn {
  margin-left: 15px;
  cursor: pointer;
}

.right_lower {
  display: flex;
  justify-content: center;
  align-items: center;
}
